<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crashbot</title>

    <link rel="stylesheet" href="/style.css">
    <style>
        body { padding-top:0px; }
    </style>
</head>
<body>
  <div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="/about">About</a>
  </div>

    <div class="container">
        <div class="textboy">
            <h1>Tobias has the big Gay</h1>
        </div>
    </div>
  <center><img src="https://media.giphy.com/media/3o6ozscsz4jRX7xuQE/giphy.gif" alt="Cowbell"></center>
</body>
</html>